// INCLUDE normalize
@import "partials/_normalize";
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

$background: #0b2e6b;
$foreground: #FCEDE3;
$link: #FBE100;
$header: #313131;
$secondary: #B77D00;
$tertiary: #078229;

@mixin flex-row { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-content:stretch;  align-items:stretch; }
//@mixin flex-column { display:flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; align-content: stretch; align-items: baseline; }
@mixin flex-box($basis) { flex-basis: $basis; flex-grow: 1; flex-shrink: 1; transition: flex-basis ease 1s; }
@mixin transition($property: all, $duration: 0.3s, $animation: ease, $delay:0) { -webkit-transition: $property $duration $animation $delay; -moz-transition: $property $duration $animation $delay;  transition: $property $duration $animation $delay; }  
//@mixin scale($size) { -webkit-transform: scale($size); -moz-transform:scale($size); -ms-transform: scale($size); transform: scale($size); }
//@mixin grey { filter:grayscale(50%); }

@mixin filter($filter-type,$filter-amount) { 
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}



html { background-color: $background; color:$foreground; font-family: 'Roboto', sans-serif; }

header { display: block; height: 30px; background-color:$header; position: fixed; top:0; left: 0; right: 0; z-index: 10;
    dl { margin: 0; padding: 0; width: 25%; float: left;
        dt { font-size:7vw; line-height: 100%; text-align: center; font-weight: 900; }
        dd { position: absolute; left:0; right:0; background-color:$header; margin: 0; display: none; }
        ul { padding: 0; margin: 0; list-style: none;
            li { float: left; width:25%;
                figure { font-size: 270%; text-align: center; font-weight: 900; } 
                figcaption { font-size: 70%; text-align: center; white-space: nowrap; }
            }
        }
        &.character { }
        &.year {
            li { padding:1em 0; text-align: center; }
        }
    }
}

.master-list {
    dt { font-size:1.8rem; font-weight:300; color:cyan; }
    dd { margin-left: 0; }
}

.text-list { margin-top: 0; margin-bottom: 0; list-style:none; padding-left:1.6rem;
    li { position: relative; font-size: 1.4rem; font-weight: 300;
        &.watched { opacity: 0.85;  }
        &.watched:before { content:url(../svg/watched-check.svg); height:1.3rem; width:1.3rem; display: block; position: absolute; left:-1.5rem; }
    }
}

.image-list { margin:0; padding: 0; list-style:none; @include flex-row;
    li { height:40vw; position: relative; @include flex-box(33.3333%);
        figure { position: absolute; top:0; right: 0; left:0; height:83%; background-size: cover; background-repeat: no-repeat; background-position:center; }
        figcaption { position: absolute; right: 0; bottom:0; left:0; background-color: #131313; font-size:0.8rem; text-align: center; padding: 0.3em 0; }
        &.watched figure { @include filter(brightness, 75%); }
        &.watched:after { content:url(../svg/watched-check.svg); height:4rem; width:4rem; display: block; position: absolute; top:5%; right:12%; opacity: .8; }
    }
}